server:
  port: 9000

spring:
  application:
    name: gateway-server
  config:
    import: 'optional:configserver:'
  cloud:
    config:
      uri: http://3.38.80.105:9100
      fail-fast: true # Config Server 연결 실패 시 애플리케이션을 즉시 종료

eureka:
  instance:
    prefer-ip-address: false
    hostname: localhost

  client:
    register-with-eureka: true
    fetch-registry: true # 클라이언트 사이드 로드밸런싱을 위해, 유레카 정보를 다운 받는다.
    service-url:
      defaultZone: http://3.38.80.105:9150/eureka/